.group-child100 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 100px;
}
.about6,
.blog6,
.home12,
.shop10 {
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 500;
}
.about6,
.blog6,
.shop10 {
  left: 123px;
}
.about6,
.blog6 {
  left: 240px;
}
.blog6 {
  left: 485px;
}
.group-child101 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 100px;
  height: 43px;
}
.contact7 {
  position: absolute;
  top: 10px;
  left: 17px;
  font-weight: 500;
}
.home-parent8,
.rectangle-parent59 {
  position: absolute;
  top: 0;
  left: 347px;
  width: 100px;
  height: 43px;
}
.home-parent8 {
  top: 28px;
  left: 459px;
  width: 521px;
}
.mdiaccount-alert-outline-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.akar-iconsheart5,
.akar-iconssearch5,
.ant-designshopping-cart-outli-icon5 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.akar-iconsheart5,
.ant-designshopping-cart-outli-icon5 {
  left: 146px;
}
.ant-designshopping-cart-outli-icon5 {
  left: 219px;
}
.mdiaccount-alert-outline-parent3 {
  position: absolute;
  top: 36px;
  left: 1093px;
  width: 247px;
  height: 28px;
}
.group-child102,
.rectangle-parent58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 100px;
}
.group-child102 {
  height: 316px;
  object-fit: cover;
}
.contact8 {
  position: absolute;
  top: 61px;
  left: 0;
  font-weight: 500;
}
.meubel-house-logos-05-icon4 {
  position: absolute;
  top: 0;
  left: 60px;
  width: 77px;
  height: 77px;
  object-fit: cover;
}
.contact-parent {
  position: absolute;
  top: 61px;
  left: 622px;
  width: 196px;
  height: 133px;
}
.contact9,
.home13 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.contact9 {
  left: 80px;
  font-weight: 300;
}
.dashiconsarrow-down-alt26 {
  position: absolute;
  top: 2px;
  left: 54px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: contain;
}
.home-parent9 {
  position: absolute;
  top: 195px;
  left: 660px;
  width: 145px;
  height: 24px;
  font-size: var(--font-size-base);
}
.group-child103,
.rectangle-parent60 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangle-parent60 {
  top: 100px;
  height: 316px;
  font-size: var(--font-size-29xl);
}
.group-child103 {
  top: 0;
  background-color: var(--color-snow-200);
  height: 300px;
}
.for-all-oders5 {
  position: absolute;
  top: 48px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  display: inline-block;
  width: 376px;
}
.days-return-parent3,
.free-delivery-parent3,
.secure-payment-parent3 {
  position: absolute;
  top: 96px;
  left: 100px;
  width: 376px;
  height: 108px;
}
.days-return-parent3,
.secure-payment-parent3 {
  left: 524px;
}
.secure-payment-parent3 {
  left: 944px;
}
.group-child104,
.rectangle-parent61 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangle-parent61 {
  top: 1560px;
  height: 300px;
  font-size: var(--font-size-13xl);
}
.group-child104 {
  top: 0;
  background-color: var(--color-white);
  height: 1144px;
}
.get-in-touch {
  position: absolute;
  top: 98px;
  left: 533px;
  font-weight: 600;
}
.for-more-information {
  position: absolute;
  top: 159px;
  left: 398px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  text-align: center;
  display: inline-block;
  width: 644px;
}
.group-child105 {
  position: absolute;
  top: 114.3px;
  left: 0;
  background-color: var(--color-white);
  width: 393px;
  height: 537px;
}
.bxsphone-icon,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.vector-icon1 {
  height: 3.33%;
  width: 5.6%;
  top: 0;
  right: 80.66%;
  bottom: 96.67%;
  left: 13.74%;
  max-width: 100%;
  max-height: 100%;
}
.bxsphone-icon {
  top: 325.3px;
  left: 46px;
  width: 30px;
  height: 30px;
}
.address {
  position: absolute;
  top: 172.3px;
  left: 106px;
  font-weight: 500;
}
.working-time {
  top: 448.3px;
  font-weight: 500;
}
.phone1,
.th-se-avenue,
.working-time {
  position: absolute;
  left: 106px;
}
.phone1 {
  top: 322.3px;
  font-weight: 500;
}
.th-se-avenue {
  top: 208.3px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 212px;
}
.monday-friday-900- {
  margin: 0;
}
.mobile-84-546-6789-container,
.monday-friday-900-container {
  position: absolute;
  top: 484.3px;
  left: 106px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 212px;
}
.mobile-84-546-6789-container {
  top: 358.3px;
}
.biclock-fill-icon {
  position: absolute;
  top: 454.3px;
  left: 53px;
  width: 23px;
  height: 23px;
  overflow: hidden;
}
.group-child106,
.rectangle-parent63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 393px;
  height: 651.3px;
}
.group-child106 {
  background-color: var(--color-white);
  width: 635px;
  height: 923px;
}
.group-child107 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 237px;
  height: 48px;
}
.sbumit {
  position: absolute;
  top: 12px;
  left: 89px;
  display: inline-block;
  width: 59.2px;
}
.rectangle-parent65 {
  position: absolute;
  top: 686px;
  left: 7px;
  width: 237px;
  height: 48px;
}
.your-name {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 111.3px;
}
.group-child108 {
  position: absolute;
  top: 46px;
  left: 1.3px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 528.8px;
  height: 75px;
}
.your-name-parent {
  position: absolute;
  top: 0;
  left: 1px;
  width: 530px;
  height: 121px;
}
.email-address2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 143.8px;
}
.abcdefcom {
  position: absolute;
  top: 72px;
  left: 31px;
  color: var(--color-darkgray);
}
.email-address-container {
  position: absolute;
  top: 157px;
  left: 1px;
  width: 530px;
  height: 121px;
}
.subject {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 76px;
}
.group-child110 {
  position: absolute;
  top: 46px;
  left: 1.2px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 526.8px;
  height: 75px;
}
.group-child111,
.subject-parent {
  position: absolute;
  top: 314px;
  left: 3px;
  width: 528px;
  height: 121px;
}
.group-child111 {
  top: 46px;
  left: 1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 527px;
  height: 120px;
}
.message-parent {
  position: absolute;
  top: 471px;
  left: 0;
  width: 528px;
  height: 166px;
}
.abc {
  position: absolute;
  top: 72px;
  left: 32px;
  color: var(--color-darkgray);
}
.group-parent34 {
  position: absolute;
  top: 119px;
  left: 74px;
  width: 531px;
  height: 734px;
}
.group-parent33,
.group-wrapper8,
.rectangle-parent64 {
  position: absolute;
  top: 0;
  left: 0;
  width: 635px;
  height: 923px;
}
.group-parent33,
.group-wrapper8 {
  top: 46.3px;
  left: 423px;
  font-size: var(--font-size-base);
}
.group-parent33 {
  top: 174.7px;
  left: 191px;
  width: 1058px;
  height: 969.3px;
  font-size: var(--font-size-5xl);
}
.rectangle-parent62 {
  position: absolute;
  top: 416px;
  left: 0;
  width: 1440px;
  height: 1144px;
  font-size: var(--font-size-17xl);
}
.contact6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1860px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
